@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(20deg, rgba(23, 216, 178, 0.3),rgba(255, 0, 0, 0) 70.71%), linear-gradient(150deg, rgba(247, 255, 92, 0.3),rgba(0, 255, 0, 0) 70.71%),  linear-gradient(330deg, rgba(83, 9, 71, 0.3),rgba(0, 0, 255, 0) 70.71%);
}

nav{
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);     
}

.page1-hide{
    display: none;
}
.page2{
    display: none;
}
.page2-show{
    display: block;
    animation: aparecer 0.7s;
}
.page3{
    display: none;
}
.page3-show{
    display: block;
    animation: aparecer 0.7s;
}
.page4{
    display: none;
}
.page4-show{
    display: block;
    animation: aparecer 0.7s;
}
.page5{
    display: none;
}
.page5-show{
    display: block;
    animation: aparecer 0.7s;
}
.page6{
    display: none;
}
.page6-show{
    display: block;
    animation: aparecer 0.7s;
}
@keyframes aparecer{
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}          
.container-asociatividad{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    max-width: 900px;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1em;
}
.container::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}



.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 550px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.container form .fields{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-width: 150px;
    min-height: 130px;
    margin-top: 8px;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100%;
}

.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.buttons{
    height: 90px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}

.associates-g{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.members-g{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.associates-m, .members-m, .associates-f, .members-f{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}