.graficos{
    width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.grafico{
    margin: auto;
    border: 2px solid;
    height: 300px;
    width: 500px;
    margin: auto;
}
.resultadosgra{
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}