.graficos{
    width: 100%;
    border: 2px solid red;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grafico{
    height: 300px;
    width: 500px;
}