/* Seccion de la navbar */

nav{
    height: 65px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;

    width: 95%;
    font-size: 18px;
    display: flex;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);   
}
nav .logo, #logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

nav ul{
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    padding-right: 20px;
    gap: 30px;
}
ul li{
    cursor: pointer;
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: #07405F;
}

/* Seccion de las opciones */

.options{
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

}
.options h1{
    color: #07405F;
}
.link{
    color: #303440;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}
.link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}
.link--inside:hover{
    background: #F6F8FA;
}
.list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
    cursor: default;
    
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
}

.arrow .list__arrow{
    transform: rotate(180deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

/* Seccion del footer */

footer{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.866);
    text-align: center;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aliados img{
    width: 20%;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin: 10px;
}
.redes img{
    margin-top: 10px;
    cursor: pointer;
    opacity: 0.9;
    width: 4%;
    aspect-ratio: 4/3;
}