@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Seccion del slider de imagenes */

.slider-box{
    width: 1280px;
    height: 325px;
    margin: 40px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 100%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img{
    width: 1280px;
    border-radius: 8px;
}

@keyframes slide {
    0% { margin-left: 0; }
    25% { margin-left: 0; }

    30% { margin-left: -100%; }
    55% { margin-left: -100%; }

    60% { margin-left: -200%; }
    85% { margin-left: -200%; }

    90% { margin-left: -300%; }
    100% { margin-left: -300%; }
}


/* Seccion del contenido de la pagina */

.contenido{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 50px;
    width: 100%;
    height: 764px;
}
.texto{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 100px;
}
.texto-hide{
    display: none;
}
.texto p{
    text-align: justify;
}

.graficosc{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 100px;
}

.graficosc-show{
    display: block;
    border: 2px solid;
    width: 100%;
    height: 100%;
    text-align: center; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.grafico{
    border: 2px solid;
    height: 200px;
    width: 400px;
}



